## Generator/comprehension one linear code example

### WAP to find the max even number from the give tuple-
```
input - (8,9,6,3,2,5,1)
output - (8)

```

In [27]:
x1=max(tuple(i for i in (1,2,3,4,67,5,22) if i%2 == 0))

In [12]:
x = (i for i in (4,5,6))
print(x)

<generator object <genexpr> at 0x000001BA17BF3890>

In [13]:
next(x)

4

In [28]:
print(x1)

22

In [25]:
next(x1)

TypeError: 'tuple' object is not an iterator

In [29]:
t = (5,4,6)
sort(t)

NameError: name 'sort' is not defined

In [31]:
s="Th*is is$ nothi&&ng b#ut excerc(is)e"
change=str.maketrans("(",",","@#$%^&*_-)")
s.translate(change)
print(s)

Th*is is$ nothi&&ng b#ut excerc(is)e

# Problem-312

```
 Write a python program to check the validity of a Password.
 Primary conditions for password validation:
 1. Minimum 8 characters.
 2. The alphabet must be between [a-z]
 3. At least one alphabet should be of Upper Case [A-Z]
 4. At least 1 number or digit between [0-9]
 5. At least 1 character from [ _ or @ or $]
 Examples:
 Input: Ram@_f1234
 Output: Valid Password
 Input: Rama_fo$ab
 Output: Invalid Password
 Explanation: Number is missing
 Input: Rama#fo9c
 Output: Invalid Password
 Explanation: Must consist from _ or @ or $
```

In [38]:
def passwordcheck(password):
    u,l,s,d = 0,0,0,0
    if len(password) >=8:
        for i in password:
            if i.isupper():
                u+=1
            if i.islower():
                l+=1
            if i.isdigit():
                d+=1
            if i in "@_$":
                s+=1
        if u>=1 and l>=1 and s>=1 and d>=1 and u+l+s+d == len(password):
            print("valid Password")
        else:
            print("Invalid Password")
    else:
        print("Invalid Password")

In [39]:
print(passwordcheck("Ram@1234"))

valid Password
None

## PROBLEM-313__ SWAP CASE PROBLEM

```
INPUT - mr. eD
OUTPUT - Mr. Ed
```

In [43]:
def casechange(inp):
    temp=""
    for i in inp:
        if i.isupper():
            temp=temp+i.lower()
        elif i.islower():
            temp=temp+i.upper()
        else:
            temp+=i
    return temp

In [44]:
casechange("mR. eD")

'Mr. Ed'

## SET
- A mutable data structure 
- An unordered collection of homogenous immutable unique elements
- Since it is unordered, it can't be indexed, sliced
- As it is mutable, elements can be added or removed

## Creating a set

In [1]:
s = {}
type(s)

dict

In [2]:
s = set()
type(s)

set

In [4]:
s = {1,2,3,4,5,6,7,8,2,3,3,2}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

### Type conversion

In [5]:
s = [1,1,2,2,3,4,5]
t = set(s)
print(t)

{1, 2, 3, 4, 5}

In [6]:
s = (1,1,2,3,4,5,1)
t = set(s)
print(t)

{1, 2, 3, 4, 5}

In [7]:
s = 'malayalam'
t = set(s)
print(t)

{'y', 'l', 'm', 'a'}

In [9]:
k = 'kasim'
ks = set(k)
print(ks)

{'s', 'm', 'i', 'a', 'k'}

### Slicing or indexing has no meaning

In [10]:
t[0]

TypeError: 'set' object is not subscriptable

In [11]:
a = set([4,5,6,7,4,8])
print(a)
print(type(a))

{4, 5, 6, 7, 8}
<class 'set'>

## Modifying elements

In [12]:
s = {1,2,3,4,5,6,7}

In [13]:
s.add(100)

In [14]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 100}

In [15]:
s.add(4)

In [16]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 100}

In [20]:
s.add((1,2,3))

In [21]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 100, (1, 2, 3)}

### Removing element from set

In [26]:
s

{(1, 2, 3), 1, 100, 2, 3, 4, 5, 6, 7}

###  s.discard

In [27]:
s.discard(100)

In [28]:
print(s)

{1, 2, 3, 4, 5, 6, 7, (1, 2, 3)}

In [29]:
s.discard(10000000000)

In [30]:
print(s)

{1, 2, 3, 4, 5, 6, 7, (1, 2, 3)}

### Remove

In [31]:
s

{(1, 2, 3), 1, 2, 3, 4, 5, 6, 7}

In [33]:
s.remove(1)

In [34]:
print(s)

{2, 3, 4, 5, 6, 7, (1, 2, 3)}

In [35]:
s.remove(2000)

KeyError: 2000

### Clear

In [36]:
s

{(1, 2, 3), 2, 3, 4, 5, 6, 7}

In [37]:
s.clear()

In [38]:
s

set()

### Delete

In [39]:
s = {(1,2,3),-2,1,2,3,4,5}

In [40]:
del s

In [41]:
print(s)

NameError: name 's' is not defined

## SET OPERATION

### Union

In [42]:
A = {1,2,3,4,5,6,7,8}
B = {4,5,6,10}

In [43]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

### Symmetric difference
- A set of elements in A and B but not in both (excluding the intersection)

In [ ]:
A = {1,2,3,4,5,6,7,8}
B = {4,5,6,10}

###  First method (in syllabus)

In [44]:
A.symmetric_difference(B)

{1, 2, 3, 7, 8, 10}

In [45]:
B.symmetric_difference(A)

{1, 2, 3, 7, 8, 10}

###  Second method (not in syllabus)

In [46]:
A ^ B

{1, 2, 3, 7, 8, 10}

In [47]:
B ^ A

{1, 2, 3, 7, 8, 10}

## SET MEMBERSHIP TEST

In [48]:
s = {(1,2,3),4,5,6,7}

In [49]:
3 in s

False

In [50]:
(1,2,3) in s

True

## Looping through set

In [53]:
for i in s:
    print(i)

4
5
6
7
(1, 2, 3)

In [54]:
a = {(1,2,3),4,5,6,7}

In [55]:
a.update([4,5,6,7,8,9])

In [56]:
a

{(1, 2, 3), 4, 5, 6, 7, 8, 9}

In [57]:
a.update('python')
a

{(1, 2, 3), 4, 5, 6, 7, 8, 9, 'h', 'n', 'o', 'p', 't', 'y'}

### issuperset, issubset, isdisjoint

In [61]:
a = {1,2,3,4,5,6,7}
b = {4,5,6}
print(a.issubset(b))
print(b.issubset(a))
print(a.issuperset(b))
print(b.issuperset(a))

False
True
True
False

### SET COMPREHENSION

**SYNTAX**
```
python
{expression for iterator in iterable if <condition>}
```

In [62]:
double = {i*2 for i in range(10) if i%2 == 0}
print(double)

{0, 4, 8, 12, 16}

### frozenset
- it is an immutable type of set data structure 
- It is immutable, adding and removing is not allowed 
- Rest of the methods remain same as set

In [63]:
f = frozenset([1,2,3,4])
print(f)

frozenset({1, 2, 3, 4})

## Adding element is not allowed

In [64]:
f.add(300)

AttributeError: 'frozenset' object has no attribute 'add'

# LAMDA / ANONYMOUS FUNCTION
- It is a nameless small function
- It cannot be reused 
- It has no return value; in fact it returns a function
- It is a one linear 
- It can take number of arguments, but can only have one valid python expression

**SYNTAX**

```python
lambda a,b : a+b
```

###  Example

In [65]:
a = lambda x,y : x**y

In [66]:
print(a(3,4))

81

In [67]:
print(a(3))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [68]:
a = lambda x: 'even' if x % 2 == 0 else "odd"

In [69]:
a(9)

'odd'

In [70]:
a('hii') # ERROR

TypeError: not all arguments converted during string formatting

In [71]:
add = lambda x,y = 15, z = 24 : x+y+z

In [72]:
print(add(1))

40

In [74]:
print(add(2,3,4))

9

In [75]:
print(add(z=2,y=3,x=5))

10

# MAP, FILTER AND REDUCE

## MAP

In [76]:
map??

In [105]:
l = [10,40,56,27,13,15,70]

In [106]:
double = list(map(lambda x : x * 2, l))

In [107]:
print(double)

[20, 80, 112, 54, 26, 30, 140]

## Creating iterator

In [80]:
iterable = map(lambda x: x*2, l)
print(iterable)

<map object at 0x0000021BA9035790>

In [81]:
for i in iterable:
    print(i)

20
80
112
54
26
30
140

In [84]:
iterable = map(lambda x: x*2, l)
next(iterable)

20

In [86]:
iterable = map(lambda x: x*2, l)
next(iterable)

20

In [90]:
next(iterable)

26

## Another example of map

In [91]:
l = [1,2,3,4,5]
print(list(map(lambda x : 'even' if x%2 == 0 else "odd",l)))

['odd', 'even', 'odd', 'even', 'odd']

# FILTER

In [92]:
l = [10,20,30,40,50]
divide = list(filter(lambda x: x%4 == 0, l))
print(divide)

[20, 40]

In [93]:
l = [10,20,30,40,50]
divide = list(map(lambda x: x%4 == 0, l))
print(divide)

[False, True, False, True, False]

In [108]:
fruits = ['apple','banana','apricote']

In [109]:
print(list(filter(lambda x : x.startswith('a'),fruits)))

['apple', 'apricote']

In [111]:
print(list(map(lambda x : x.startswith('a'),fruits)))

[True, False, True]

## REDUCE
- Reduce method is available in functools module
- One most import the method to use it

In [112]:
from functools import reduce

In [113]:
reduce??

In [116]:
reduce(lambda x, y: x+y, [1,2,3,4,5])

15

In [118]:
reduce(lambda x, y: x*y, [1,2,3,4,5])

120

##  WAP to find the sum of positive numbers and -ve numbers using $lambda  f^n$
```
input = [-2,-4,0,1,2,4]
output = sum of positive number = 7
         sum of negative numbers = -6
```

In [129]:
l =  [-2,-4,0,1,2,4]
a = list(filter (lambda x:  x>=0,l))
b = list(filter(lambda x: x<0,l))
print(sum(a))
print(sum(b))

7
-6

## WAP  to create a list of sorted squares from a given list using lambda function